{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
<div class="grid">
    {% for product in products %}
    <div class="card">
        <a href="{{ url_for('product_detail', product_id=product['id']) }}">
            <img src="{{ product['thumbnail'] }}" width="100%">
            <h3>{{ product['title'] }}</h3>
        </a>
        <p>${{ product['price'] }}</p>
        <form action="{{ url_for('add_item', product_id=product['id']) }}" method="POST">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}